In [5]:
# Shift + enter
print("Hello World")

Hello World

In [6]:
print("another")

another

In [7]:
a = 10

In [8]:
print(a)

10

In [9]:
type(a)

int

In [10]:
a = "cool"

In [11]:
print(a)

cool

In [12]:
type(a)

str

In [13]:
a = 5.6

In [14]:
print(a)

5.6

## Condtional Statements

In [16]:
a = 9

if a>10:
    print("a is greater than 10")
elif a<5:
    print("a is smaller than 5")
else:
    print("no case")

no case

## Iterations

In [20]:
i =0

while i<10:
    print(i, end=", ")
    i+=1

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [24]:
for i in range(3, 21):
    if i%2!=0:
        print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

In [25]:
for i in range(3, 21, 2 ):
    print(i, end=", ")

3, 5, 7, 9, 11, 13, 15, 17, 19,

## Functions

In [27]:
## this is a comment

In [33]:
def func_name(a,b):
    print("hello from function")
    print( a*b )

In [34]:
func_name(10,14)

hello from function
140

# Data Structures
- list
- tuple
- dictionary
- set

In [35]:
li = [5,7,2,9,10,1]

In [36]:
print(li)

[5, 7, 2, 9, 10, 1]

In [37]:
type(li)

list

In [38]:
li[0]

5

In [42]:
li[5]

1

In [43]:
li[-1]

1

In [44]:
li[-2]

10

In [46]:
li[1 : 4 ]

[7, 2, 9]

In [47]:
st = "this is a string"

In [54]:
st[1 : 11]

'his is a s'

In [56]:
li2 = ["String", False, 5,8,2, 5.0]

## tuple

In [58]:
t = (6,8,2,90)

In [64]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [65]:
dic = {
    "samosa" : 10,
    "burger" : 20,
    "pizza" : 50
}

In [66]:
dic['samosa']

10

In [67]:
dic['pizza']

50

In [68]:
dic['juice']  = [10, 20, 30]

In [69]:
dic

{'samosa': 10, 'burger': 20, 'pizza': 50, 'juice': [10, 20, 30]}

In [73]:
dic['juice']

[10, 20, 30]

In [74]:
dic['fruits'] = {
    'litchi' : 30,
    'mango' : 20,
    'banana' : 50
}

In [75]:
dic

{'samosa': 10,
 'burger': 20,
 'pizza': 50,
 'juice': [10, 20, 30],
 'fruits': {'litchi': 30, 'mango': 20, 'banana': 50}}

In [78]:
dic['fruits']['mango']

20